// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";
// 图标
@import 'bootstrap-icons/font/bootstrap-icons.css';

html,
body {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.router-link-active {
  text-decoration: none;
}
a:hover {
  filter: brightness(117.5%);
}
li:hover {
  background-color: rgb(255 255 255 / 10%);
}
main{

 
  background-color: #25282b ;
}
  h1, h2, h3, h4, nav a, .btn, a.btn, .title-font {
    font-weight: 800;
    color: hsla(200, 00%, 100%, 0.85);
    margin-top: 0px;

}
h2{
  font-size: 36px;
  margin-bottom: 29.880px;
}